.filter {
  &__links {
    display: flex;
    flex-wrap: wrap;
    @media(max-width:768px){
      justify-content: flex-start;
    }
    gap: 15px;
    li {
      list-style: none;
    }
  }
  &__link {
    background-color: #f9f9f9;
    padding: 18px 35px;
    border-radius: 30px;

    text-align: center;
    font-size: 16px;
    font-family: Proxima Nova;
    font-weight: 700;
    letter-spacing: 0.24px;
    cursor: pointer;
  }
}
